/************************************
    - copyright 2024 SrjAdhikari
/************************************


/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-nunito-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--body-3);
    overflow: hidden;
}

li {
    list-style-type: none;
}

a, img, span, input, button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input, button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: top;
}

sub, sup {
    font-size: 0.75rem;
}

:focus-visible {
    outline: 2px solid var(--white);
    outline-offset: 2px;
}

::selection {
    background-color: var(--white-alpha-8);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;    /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8);
    border-radius: var(--radius-pill);
}


/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /****** COLORS ******/
    --primary: #B5A1E5; 
    --on-primary: #100E17; 
    --background: #131214;
    --on-background: #EAE6F2;
    --surface: #1D1C1F;
    --on-surface: #DDDAE5;
    --on-surface-variant: #7B7980; 
    --on-surface-variant-2: #B9B6BF;
    --outline: #3E3D40;
    --bg-aqi-1: #89E589;
    --on-bg-aqi-1: #1F331F;
    --bg-aqi-2: #E5DD89;
    --on-bg-aqi-2: #33311F;
    --bg-aqi-3: #E5C089;
    --on-bg-aqi-3: #332B1F;
    --bg-aqi-4: #E58989;
    --on-bg-aqi-4: #331F1F;
    --bg-aqi-5: #E589B7;
    --on-bg-aqi-5: #331F29;
    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);

    /****** GRADIENT COLORS ******/
    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);

    /****** TYPOGRAPHY ******/

    /* Font-family */
    --ff-nunito-sans: 'Nunito Sans', sans-serif;

    /* Font-size */
    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;

    /* Font-weight */
    --weight-regular: 400;
    --weight-semiBold: 600;

    /****** BOX-SHADOW ******/
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

    /****** BORDER-RADIUS ******/
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;

    /****** TRANSITION ******/
    --transition-short: 100ms ease;
}


/*-----------------------------------*\
    #MATERIAL ICON
\*-----------------------------------*/

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-symbol-rounded.woff2) format('woff2');
}

.m-icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    width: 1em;
    height: 1em;
    overflow: hidden;
}


/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/

/* - Sets the maximum width of the container to 1600px and ensures it takes full width within its parent.
    - Centers the container horizontally by setting margin-inline to auto.
    - Adds padding of 16px on all sides for inner spacing.
*/
.container {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    padding: 16px;
}

/*
    - Styles a button element for icons with a background color that is semi-transparent.
    - Defines fixed dimensions (48px by 48px) for the button.
    - Uses Flexbox to center content both horizontally and vertically.
    - Applies a circular border radius for rounded corners.
*/
.icon-btn {
    background-color: var(--white-alpha-8);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
    border-radius: var(--radius-circle);
}

.has-state {
    position: relative;
}

.has-state:hover {
    box-shadow: var(--shadow-1);
}

/* - Removes box-shadow when the element is focused or focus-visible for accessibility purposes. */
.has-state:is(:focus, :focus-visible) {
    box-shadow: none;
}

/*
    - Creates a pseudo-element for additional styling effects.
    - Positioned absolutely to cover the parent element.
    - Uses clip-path to create a circular effect that transitions on hover and focus.
*/
.has-state::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);
    transition: var(--transition-short);
}

/* - Changes the background color of the pseudo-element on hover. */
.has-state:hover::before {
    background-color: var(--white-alpha-4);
}

/* - Changes the background color when the element is focused or focus-visible and triggers a ripple animation. */
.has-state:is(:focus, :focus-visible) ::before {
    background-color: var(--white-alpha-8);
    animation: ripple 250ms ease forwards;
}

/*
    Defines the ripple animation that expands from the center of the element.
    - 0%: The clip-path starts at 0% size, centered.
    - 100%: The clip-path expands to 100% size, filling the element.
*/
@keyframes ripple {
    0% {
        clip-path: circle(0% at 505 50%);
    }
    100% {
        clip-path: circle(100% at 505 50%);
    }
}

.btn-primary {
    background-color: var(--primary);
    color: var(--on-primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: var(--radius-pill);
}

.btn-primary .span {
    font-weight: var(--weight-semiBold);
}

/*
    - Styles the button when disabled, changing its background color and text color.
    - Sets the cursor to not-allowed to indicate the button is inactive.
*/
.btn-primary[disabled] {
    background-color: var(--outline);
    color:var(--on-surface-variant);
    cursor: not-allowed;
}

/* - Removes the ::before pseudo-element (if any) when the button is disabled. */
.btn-primary[disabled]::before {
    display: none;
}

/* Base style for card components, setting background color and text color */
.card {
    background-color: var(--surface);  /* Sets the card's background color using the surface variable */
    color: var(--on-surface);          /* Sets the card's text color using the on-surface variable */
}

/* Large card variation with extra padding and a larger border radius */
.card-lg {
    padding: 20px;                      /* Adds padding inside the card */
    border-radius: var(--radius-28);    /* Applies a border radius using a predefined variable */
}

/* Small card variation with less padding and a smaller border radius */
.card-sm {
    padding: 16px;                      /* Adds padding inside the card */
    border-radius: var(--radius-16);    /* Applies a smaller border radius using a predefined variable */
}

/* Base style for headings, overriding the default text color and setting size */
.heading {
    color: var(--white);                /* Sets the heading text color to white */
    font-size: var(--heading);          /* Applies a large font size for headings using a predefined variable */
    line-height: 1.1;                   /* Sets line height for headings to make them more compact */
}

/* Title level 1 with a specific font size */
.title-1 {
    font-size: var(--title-1);          /* Applies the largest title font size using a predefined variable */
}

/* Title level 2 with a specific font size and bottom margin */
.title-2 {
    font-size: var(--title-2);          /* Applies a slightly smaller title font size */
    margin-block-end: 12px;             /* Adds space below the title for better separation */
}

/* Title level 3 with a specific font size and semi-bold font weight */
.title-3 {
    font-size: var(--title-3);          /* Applies a medium-sized title font size */
    font-weight: var(--weight-semiBold);/* Sets the font weight to semi-bold for emphasis */
}

/* Body text level 1 with a specific font size */
.body-1 {
    font-size: var(--body-1);           /* Applies a font size for primary body text */
}

/* Body text level 2 with a specific font size and semi-bold font weight */
.body-2 {
    font-size: var(--body-2);           /* Applies a slightly smaller font size for secondary body text */
    font-weight: var(--weight-semiBold);/* Sets the font weight to semi-bold */
}

/* Body text level 3 with a smaller font size */
.body-3 {
    font-size: var(--body-3);           /* Applies the smallest font size for tertiary body text */
}

/* Label text level 1 with a specific font size */
.label-1 {
    font-size: var(--label-1);          /* Applies a font size for primary labels */
}

/* Label text level 2 with a smaller font size */
.label-2 {
    font-size: var(--label-2);          /* Applies a smaller font size for secondary labels */
}


/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

/* Hide the span text inside the primary button in the header */
.header .btn-primary .span {
    display: none;
}

/* Set a fixed width for the logo image */
.logo img {
    width: 150px;
}

/* Style for the header container and header actions */
.header .container,
.header-actions {
    display: flex;                      /* Align items horizontally */
    justify-content: space-between;     /* Distribute space between items */
    align-items: center;                /* Center items vertically */
    gap: 16px;                          /* Add space between items */
}

/* Adjust padding for the primary button in the header */
.header .btn-primary {
    padding-inline: 12px;
}

/* Style for the search view container */
.search-view {
    position: fixed;    /* Fix position to viewport */
    top: 0;             /* Align to the top of the viewport */
    left: 0;            /* Align to the left of the viewport */
    width: 100%;        /* Full width of the viewport */
    height: 100vh;      /* Full height of the viewport */
    height: 100svh;     /* Full height of the viewport for mobile devices */
    background-color: var(--surface);                   /* Background color */
    clip-path: circle(4% at calc(100% - 102px) 5%);     /* Initial circular clip-path */
    opacity: 0;                                         /* Hidden by default */
    visibility: hidden;                                 /* Hidden by default */
    z-index: 4;                                         /* Position above other elements */
    transition: clip-path 500ms ease;                   /* Smooth transition for clip-path */
}

/* Style for the search view when active */
.search-view.active {
    opacity: 1;                             /* Make visible */
    visibility: visible;                    /* Make visible */
    clip-path: circle(130% at 73% 5%);      /* Expand clip-path */
}

/* Style for the search wrapper */
.search-wrapper {
position: relative;                                 /* Relative positioning for children */
    border-block-end: 1px solid var(--outline);     /* Bottom border */
}

/* Style for the loading animation in search wrapper */
.search-wrapper::before {
    content: "";                                /* Empty content */
    position: absolute;                         /* Absolute positioning */
    top: 50%;                                   /* Center vertically */
    transform: translateY(-50%);                /* Center vertically */
    right: 16px;                                /* Position from the right */
    width: 24px;                                /* Width of the loader */
    height: 24px;                               /* Height of the loader */
    border: 3px solid var(--on-surface);        /* Border color */
    border-block-start-color: transparent;      /* Top border transparent */
    border-radius: var(--radius-circle);        /* Circular border radius */
    animation: loading 500ms linear infinite;   /* Rotation animation */
    display: none;                              /* Hidden by default */
}

/* Keyframes for the loading animation */
@keyframes loading {
    0% {
        transform: translateY(-50%) rotate(0);      /* Initial state */
    }
    100% {
        transform: translateY(-50%) rotate(1turn);  /* Final state */
    }
}

/* Show loading animation when the search wrapper has the 'searching' class */
.search-wrapper:has(.searching)::before {
    display: block;     /* Make visible */
}

/* Style for the search input field */
.search-field {
    height: 80px;                   /* Height of the input */
    line-height: 80px;              /* Line height to vertically center text */
    padding-inline: 56px 16px;      /* Padding inside the input */
    outline: none;                  /* Remove default outline */
}

/* Style for the placeholder text in the search field */
.search-field::placeholder {
    color: var(--on-surface-variant-2); /* Placeholder text color */
}

/* Hide the search cancel button in WebKit browsers */
.search-field::-webkit-search-cancel-button {
    display: none; /* Hide button */
}

/* Style for the leading icon inside the search wrapper */
.search-wrapper .leading-icon {
    position: absolute;                 /* Absolute positioning */
    top: 50%;                           /* Center vertically */
    left: 28px;                         /* Position from the left */
    transform: translate(-50%, -50%);   /* Center vertically and horizontally */
}

/* Hide the search icon in the search wrapper */
.search-wrapper > .m-icon {
    display: none; /* Hide icon */
}

/* Style for the icon button inside the search wrapper */
.search-wrapper .icon-btn {
    background-color: transparent;      /* No background color */
    box-shadow: none;                   /* No box shadow */
}

/* Style for the view list inside the search view */
.search-view .view-list {
    padding-block: 8px 16px;            /* Vertical padding */
}

/* Style for individual items in the search result list */
.search-view .view-item {
    position: relative;                 /* Relative positioning for child elements */
    height: 56px;                       /* Height of each item */
    display: flex;                      /* Flex container for alignment */
    justify-content: flex-start;        /* Align items to the start */
    align-items: center;                /* Center items vertically */
    gap: 16px;                          /* Space between items */
    padding-inline: 16px 24px;          /* Padding inside each item */
}

/* Style for icons and subtitles inside search view items */
.search-view .view-item :is(.m-icon, .item-subtitle) {
    color: var(--on-surface-variant);   /* Color for text and icons */
}

/* Style for the link inside search result items */
.search-view .view-item .item-link {
    position: absolute;                 /* Absolute positioning to cover the item */
    inset: 0;                           /* Cover the entire item */
    box-shadow: none;                   /* No box shadow */
}


/*-----------------------------------*\
    #MAIN
\*-----------------------------------*/

/* Set the height of the main element to full viewport height minus 80px */
main {
    height: calc(100vh - 80px);     /* For standard viewport height */
    height: calc(100svh - 80px);    /* For small viewport height (modern browsers) */
    overflow: hidden;               /* Hide any overflow content */
}

/* Style for the article container */
article.container {
    position: relative;                     /* Position relative to allow absolute positioning of child elements */
    display: grid;                          /* Use grid layout for the container */
    grid-template-columns: minmax(0, 1fr);  /* Single column grid with flexible width */
    gap: 20px;                              /* Space between grid items */
    height: 100%;                           /* Full height of the parent element */
    overflow-y: overlay;                    /* Enable overlay scrollbar (for smooth scrolling) */
}

/* Custom style for the scrollbar thumb */
article.container::-webkit-scrollbar-thumb {
    background-color: transparent;          /* Make scrollbar thumb transparent by default */
}

/* Style for scrollbar thumb when container is hovered or focused */
article.container:is(:hover, :focus, :focus-within):-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8); /* Set thumb color on interaction */
}

/* Style for the scrollbar button (up and down arrows) */
article.container::-webkit-scrollbar-button {
    height: 10px;                           /* Set height of scrollbar buttons */
}

/* Add a gradient overlay at the bottom of the container */
article.container::before {
    content: "";                            /* Empty content for the pseudo-element */
    position: fixed;                        /* Fixed position to stay at the bottom during scroll */
    bottom: 0;                              /* Align at the bottom of the viewport */
    width: 100%;                            /* Full width of the container */
    height: 40px;                           /* Height of the gradient overlay */
    background-image: var(--gradient-1);    /* Background gradient */
    pointer-events: none;                   /* Prevent interaction with the overlay */
    z-index: 1;                             /* Ensure it appears above other content */
}

/* Add margin to all sections except the last one */
section:not(:last-child) {
    margin-block-end: 16px;                 /* Space below sections */
}


/*-----------------------------------*\
    #CURRENT WEATHER
\*-----------------------------------*/

/* Style for the wrapper inside the current weather card */
.current-weather-card .weapper {
    margin-block: 12px;     /* Add vertical margin (top and bottom) of 12px */
    display: flex;          /* Use flexbox layout for the wrapper */
    align-items: center;    /* Align items vertically in the center */
    gap: 8px;               /* Space of 8px between flex items */
}

/* Style for the weather icon inside the current weather card */
.current-weather-card .weather-icon {
    margin-inline: auto;    /* Center the weather icon horizontally */
}

/* Style for text within the body-3 class of the current weather card */
.current-weather-card > .body-3 {
    text-transform: capitalize; /* Capitalize the first letter of each word in the text */
}

/* Style for the meta list inside the current weather card */
.current-weather-card .meta-list {
    margin-block-start: 16px;                       /* Add top margin of 16px before the list */
    padding-block-start: 16px;                      /* Add top padding of 16px inside the list */
    border-block-start: 1px solid var(--outline);   /* Add a 1px solid border at the top using the outline color */
}

/* Style for individual meta items inside the meta list */
.current-weather-card .meta-item {
    display: flex;          /* Use flexbox layout for the meta items */
    align-items: center;    /* Align items vertically in the center */
    gap: 8px;               /* Space of 8px between flex items */
}

/* Style for meta items, excluding the last one */
.current-weather-card .meta-item:not(:last-child) {
    margin-block-end: 12px; /* Add bottom margin of 12px to all items except the last one */
}

/* Style for the text inside meta items */
.current-weather-card .meta-text {
    color: var(--on-surface-variant); /* Set text color to a variant of the surface color */
}


/*-----------------------------------*\
    #HIGHLIGHTS
\*-----------------------------------*/

/* Removes the bottom margin from the .title-2 element inside .forecast-card */
.forecast-card .title-2 {
    margin-bottom: 0;
}

/* Applies flexbox layout to .card-item and .icon-wrapper elements inside .forecast-card */
.forecast-card :is(.card-item, .icon-wrapper) {
    display: flex;               /* Uses flexbox for layout */
    align-items: center;         /* Aligns items vertically at the center */
}

/* Adds bottom margin to .card-item elements inside .forecast-card, except the last one */
.forecast-card .card-item:not(:last-child) {
    margin-bottom: 12px;         /* Space below each card item */
}

/* Adds a gap between items inside .icon-wrapper within .forecast-card */
.forecast-card .icon-wrapper {
    gap: 8px;                    /* Space between items in the icon wrapper */
}

/* Sets the text color and font weight for .label-1 elements inside .forecast-card */
.forecast-card .label-1 {
    color: var(--on-surface-variant);       /* Text color based on the theme variable */
    font-weight: var(--weight-semiBold);    /* Font weight based on the theme variable */
}

/* Aligns the text of .label-1 elements to the right and ensures full width inside .card-item within .forecast-card */
.forecast-card .card-item > .label-1 {
    width: 100%;                  /* Takes up full width of its parent */
    text-align: right;            /* Aligns text to the right */
}


/*-----------------------------------*\
    #HOURLY FORECAST
\*-----------------------------------*/


/*-----------------------------------*\
    #FORECAST
\*-----------------------------------*/


/*-----------------------------------*\
    #LOADING
\*-----------------------------------*/


/*-----------------------------------*\
    #ERROR SECTION
\*-----------------------------------*/


/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/


/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/